.selectRoom .txt p:first-child::after{
    content: '房';
}
.selectRoom .txt p:last-child::after{
    content: '元';
}
.selectRoom .txt p:last-child::before{
    content: '價錢: ';
}
.determineRoom .pic img{
    width: 100%;
    vertical-align: top;
    border-radius: 10px;
}
header nav a.btn {
    visibility: hidden;
}
.checkInData{
    max-width: 1200px;
    margin: auto;
}

.checkInData form{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 15px;
    
}
.checkInData label,.checkInData label input{
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
}
.checkInData label{
    position: relative;
    margin-top: 2em;
}
.checkInData label input{
    border: none;
    padding: 0px 1em;
    letter-spacing: 0.1em;
    font-size: 15px;
}
.checkInData label input{
    line-height: 2em;
    border-radius: 200px;
}
.checkInData input:placeholder-shown +span{
    top: 0;
    left: 1em;
    color: #632E0A88;
}
.checkInData input::placeholder,.checkInData textarea::placeholder{
    visibility: hidden;
}
.checkInData span,.checkInData input:focus ~ span{
    position: absolute;
    color: #632E0A;
    line-height: 2em;
    top: 0;
    transition: 0.3s;
    top: -1.6em;
    left: 0.5em;
    transition: all 0.3s;
}
.checkInData .btn ,.checkInData .rebtn,.contactUs .txt::after{
    cursor: pointer;
    background-color: #632E0Aee;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 15px;
    padding:0.3rem 1.0rem;
    letter-spacing: 0.1em;
    width: 48%;
    border: 2px solid #632E0Aee;
    display: inline-block;
    margin-top: 1em;
}
.checkInData .btn{
    color: #fff;
}
.checkInData .rebtn{
    color: #632E0Aee;
    border: 2px solid #632E0Aee;
    background-color: transparent;
}

.determine{
    max-width: 1200px;
    margin: auto;
    font-size: 0px;
    display: flex;
    flex-wrap: wrap;
}

.determineRoom,.money{
    font-size: 15px;
    
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
}
.determineRoom{
    width: 100%;
    /* width: 70%; */
}
.determineRoom .pic{
    width: 40%
}
.determineRoom .txt{
    box-sizing: border-box;
    padding: 0px 30px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
.determineRoom .txt div{
    /* margin: auto; */
    width: 100%;
    line-height: 2em;
}
.money{
    /* padding: 40px; */
    line-height: 3em;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.money div{
    width: 100%;
    
}
.determineRoom .txt div span:empty::before{
    content: "請選擇";
    margin-left: 1em;
    letter-spacing: 0.1em;
    background-color: #F9BC20;
    color: #222;
    box-shadow: 1px 1px 2px 1px #bbb;
    border-radius: 200px;
    padding: 0.2em 1em;
    cursor: pointer;
}
.determineRoom .txt div:active span:empty::before{
    background-color: #A13B91;
    color: #eee;
    transition: all .2s; 
}
.determineRoom .txt div span::after{
    margin-left: 1em;
}
.determineRoom .txt div:nth-child(1) span::after{
    content: "房";
}
.determineRoom .txt div:nth-child(3) span::after{
    content: "人";
}
.money div span::after{
    margin-left: 1em;
}
.money div:nth-child(1) span::after{
    content: ' 元/晚';
}
.money div:nth-child(2) span::after{
    content: ' 元';
}
.money div:nth-child(3) span::after{
    content: ' 元';
}


 
   
.selectpage{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #aaa8;
    z-index: 200;
}
.selectpage article h3,.selectRoom article h3{
    text-align: center;
    font-size: 18px;
    line-height: 2em;
    color: #632E0A;
}
.selectpage h2{
    display: none;
}
.selectDate,.selectRoom{
    width: 90%;
    box-sizing: border-box; 
    padding: 20px 30px;
    border-radius: 10px;
    margin: auto;
    background-color: #FBF2E1;     
    color: #3A3030;
}
.date{
    /* margin: auto; */
    /* width: 100%; */
}

.selectDate .date table{
    font-size: 0px;
}
table,thead,tbody,caption,tr{
    display: block;
    width: 100%;
}
.selectDate caption{
    font-size: 15px;
    /* line-height: 4em */
}

.selectDate .date table td{
    vertical-align: top;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 15px;
    aspect-ratio: 1/1;
    width: calc( 100% / 7 );
    /* padding: 10px; */
}
.selectDate .date table td span{
    width: 80%;
    height: 80%;
    display: flex;
    align-items:center;
    justify-content: center;
}
.leftBtn,.rightBtn{
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border: solid #000000c0;
    border-width: 3px 0px 0px 3px;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.leftBtn{
    transform: rotate(-45deg);
    left: 0;
    right: 50%;
    
}
.rightBtn{
    transform: rotate(135deg);
    right: 0;
    left: 50%;
}
caption{
    line-height: 4em;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.canAppointment:hover span {
    background-color: #F9BC20;
    border-radius: 50%;

}
.selectday span {
    background-color: #F9BC20;
    border-radius: 50%;
    position: relative;
    z-index: 5;
}
.selectDate .btn{
    background-color: #F9BC20;
    border: none;
    font-size: 15px;
    box-sizing: border-box;
    display: block;
    margin: auto;
    padding: 0.5em 1.5em;
    color: #ffffff;
    text-shadow: 0px 0.5px 2px  #000a;
    box-shadow: 1px 1px 3px 1px #aaa;
}
.selectDate .btn:active{
    box-shadow: none;
}
/* .selectday span::after{
    content: '';
    width: 60%;
    height: 100%;
    left: 50%;
    display: block;
    position: absolute;
    background-color: #F9BC2099;
    z-index: -1;
   
}
.selectday span ~ .selectday span::after{
    content: '';
    width: 60%;
    height: 100%;
    left: -50%;
    display: block;
    position: absolute;
    background-color: #F9BC2099;
    z-index: -1;
   
} */
@media screen and (min-width:768px) {
    .selectDate,.selectRoom{
        width: 60%; 
    }
    .selectRoom>article .txt{
        padding: 20px 30px;
    }
    .determineRoom{
        width: 70%;
    }
    .money{
        width: 30%;
    }
}
@media screen and (min-width:996px) {
    .selectDate,.selectRoom{
        width: 40%;  
    }
}


.selectRoom>article .pic img{
    width: 100%;
    /* max-height: 100px; */
    aspect-ratio: 2/1;
    object-fit: cover;
    vertical-align: top; 
}
.selectRoom>article .pic{
    width: 50%;
    /* border-radius: 10px; */
    overflow: hidden;
}
.selectRoom>article{
    display: flex;
    border: 2px solid #632E0A;
    color: #632E0A;
    border-radius: 10px;
    margin: 10px 0px;
    overflow: hidden;
    transition: background-color 0.3s ,transform 0.5s;
    cursor: pointer;
}
.selectRoom>article .txt{
    padding:  2px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
.selectRoom>article .txt p:last-child{ 
    align-self: flex-end;
}
.selectRoom>article:hover{
    background-color: #A13B91;
    color: #fff;
    transform: scale(1.2);
    transition: background-color 0.3s ,transform 0.5s;
}
.selectRoom>article:active{
    background-color: transparent;
    color: #632E0A;
    transform: scale(1);
    transition: background-color 0.3s ,transform 0.5s;
}

.showSelectPage{
    display: flex !important;
    animation: showAnimation 1s both ;
}
.show{
    display: block !important;
}


.selectDate{
    display: none;
}
.selectRoom{
    display: none;
}
.selectpage{
    display: none;
}

@keyframes showAnimation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}