/* -----------------------------字體----------------------------- */
@font-face {
    font-family: 'Noto Sans TC';
    src:local("Noto Sans TC Medium"),
    local("Noto Sans TC"),
    /* local("Noto Sans TC Black"), */
    url(../expansion/font/NotoSansTC-Medium.otf);
    font-weight:normal;
}
@font-face {
    font-family: 'Noto Sans TC Black';
    src:local("Noto Sans TC Black"),
    /* local("Noto Sans TC"), */
    /* local("Noto Sans TC Black"), */
    url(../expansion/font/NotoSansTC-Black.otf);
    font-weight:bold;
}
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;900&display=swap'); */
body{
    font-family: 'Noto Sans TC','Noto Sans TC Black', sans-serif;
    /* padding-top: 48px; */
}

/* -------------Reset------------- */

a{
    text-decoration: none;
}
/* -------------header------------- */
header{
    position: sticky;
    top: 0;
    z-index: 5;
    font-size: 0px;
    width: 100%;
    background-color: #f8f8f8d0;
    box-shadow:0 0 10px 1px #7777
   
}

header a {
    display: inline-block;
    font-size: 18px;
    color: #632E0A;
    align-self: center;
    letter-spacing: 0.1em;
}
header ul a, header a:last-of-type{
    padding: 1.2rem 1rem;
}
header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header nav>a:first-of-type{
     overflow: hidden;
     font-size: 0;
}
header nav>a:first-of-type span{
    box-sizing: border-box;
    padding: 1rem 0px;
    font-size: 18px;
    display: inline-block;
}
header nav>a:first-of-type img{
    vertical-align: top;
    font-size: 18px;
    height:  calc(2rem + 1em);
    width: calc(2rem + 1em);
    padding: 2px;
    object-fit: contain;
    box-sizing: border-box;
    background-color: transparent;
}
/*--------------頁尾---------------*/
.footerLogo img{
    width: 2rem;
    /* box-sizing: border-box; */
    vertical-align: top;
    display: inline-block;
    padding: 10px ;
    
}
.footerLogo{
    padding-top: 40px;
    text-align: center;
    font-size: 0;
}
.footerLogo a{
    display: inline-block;
}
footer{
    margin-top: 4rem;
    background-color: #3A3030;
    /* color: #fffb; */
    color: #E5EEc1f0;

}
footer>div:last-child{
    text-align: center;
    /* padding: 10px; */
    line-height: 2.5rem;
    font-size: 12px;
    box-sizing: border-box;
}
/* -------------漢堡堡------------- */
.hamburger{
    padding: 26px 20px;
    align-self: center;
    position: relative;
    z-index: 10;
}
.hamburger span,.hamburger span::before,.hamburger span::after{
    /* background-color: #E5EEc1ee; */
    background-color: #632E0A;
    display: block;
    border-radius: 10px;
}
.hamburger span{
    width: 30px;
    height: 4px;
    margin: auto;
    /* margin: 0px 20px; */
}
.hamburger span::before,.hamburger span::after{
    content: '';
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.12s cubic-bezier(0.215, 0.61, 0.355, 1),bottom 0.12s 0.075s ease;
}
.hamburger span::before{
    bottom: 8px;
}
.hamburger span::after{
   bottom: -4px;
}
.menu .hamburger span{
    background-color:transparent;
}
.menu  .hamburger span::before{
    transform: rotate( -45deg );
    bottom: 0px;
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu  .hamburger span::after{
    transform: rotate( 45deg );
    bottom: 4px;
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* -------------選單------------- */


.menu ul{
    left: 0;
    display: block;
    margin-right: 0;
    visibility: visible;
    transition: left 0.3s ease-out;
}

header li{
    display: block;
    text-align: center;
}
header nav>a:last-of-type{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
header a.btn{
    background-color: #F9BC20;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    padding: 0px 1rem;
    line-height: calc(2em + 2rem);
    color: #ffffff;
    text-shadow: 0px 0.5px 2px  #000a;
}
header li a:hover{
    background-color: #632E0Add;
    color: #FBF2E1;
}
@media screen and (max-width:995px) {
    header ul{
        display: block;
        position: fixed;
        box-sizing: border-box;
        top: 3.5rem;
        left: 100vw;
        background-color: #FBF2E1dd;
        visibility: hidden;
        transition: left 0.3s ease , visibility 0s 0.3s;
        z-index: 10;
    }
    header ul{
        /* padding-bottom: 5rem; */
        z-index: 100;
    }
    header ul li a{
        box-sizing: border-box;
        width: 100vw;
    }
    
}

@media screen and (min-width:768px){
    /* -------------bottom------------- */
    header a.btn{
        padding:0.6rem 1.5rem;
        border-radius: 10px;
        line-height: 1rem;
        /* aspect-ratio: 0 ; */
    }
     /* -------------header------------- */
    header nav a:first-child{
        flex-grow: 1;
    }
    header nav>a:last-of-type{
        position: initial;
    }
    /* -------------選單------------- */
    /* header ul{ 
        width: 210px;
    } */
    .menu{
        /* transition: left 0.3s ease-out; */
    }
}
@media screen and (min-width:996px){
     /* -------------header------------- */
    header nav{
        display: flex;
        justify-content: space-around;
    }
    header nav a:first-child{
        flex-grow:0;
    }
     /* -------------漢堡堡------------- */
    .hamburger{
        display: none;
    }
    /* .menu ~ .hamburger{
        display: block;
        position:absolute;
        top: 0;
        right: 0;
    } */
    /* -------------選單------------- */
    header ul{
        left: 100vw;
        width: auto;
        height: auto;
        margin: 0px;
        padding: 0;
        position: initial;
        background-color:transparent;
        visibility:visible;
        transition: none;
        
        /* left: auto; */
        /* top: 0; */
    }
    header li{
        display: inline-block;
    }
    
}


body{
    background-color: #FBF2E1;
    /* background-image: */
    /* -webkit-radial-gradient(50% 50%,circle,rgba(0,0,0,.1) 40%, rgba(0,0,0,.7) 150%), */
    /* -webkit-radial-gradient(30% 30%,circle,rgba(0,0,0,.1) 1px, rgba(0,0,0,0) 1px),
    -webkit-radial-gradient(10% 10%,circle,rgba(0,0,0,.1) 1px, rgba(0,0,0,0) 2px),
    -webkit-radial-gradient(15% 60%,circle,rgba(0,0,0,.1) 1px, rgba(0,0,0,0) 1px),
    -webkit-radial-gradient(5% 22%,circle,rgba(0,0,0,.1) 1px, rgba(0,0,0,0) 1px),
    -webkit-radial-gradient(50% 73%,circle,rgba(0,0,0,.1) 1px, rgba(0,0,0,0) 1px),
    -webkit-radial-gradient(30% 30%,circle,rgba(0,0,0,.1) 2px, rgba(0,0,0,0) 1px),
    -webkit-radial-gradient(50% 73%,circle,rgba(0,0,0,.1) 1px, rgba(0,0,0,0) 2px),
    -webkit-radial-gradient(30% 60%,circle,rgba(0,0,0,.1) 2px, rgba(0,0,0,0) 1px),
    -webkit-radial-gradient(60% 53%,circle,rgba(0,0,0,.1) 1px, rgba(0,0,0,0) 2px),
    -webkit-radial-gradient(90% 90%,circle,rgba(0,0,0,.1) 2px, rgba(0,0,0,0) 1px),
    -webkit-radial-gradient(28% 18%,circle,rgba(0,0,0,.1) 1px, rgba(0,0,0,0) 2px),
    -webkit-radial-gradient(40% 70%,circle,rgba(0,0,0,.1) 2px, rgba(0,0,0,0) 1px),
    -webkit-radial-gradient(30% 60%,circle,rgba(0,0,0,.1) 2px, rgba(0,0,0,0) 1px),
    -webkit-radial-gradient(60% 53%,circle,rgba(0,0,0,.1) 1px, rgba(0,0,0,0) 2px),
    -webkit-radial-gradient(90% 90%,circle,rgba(0,0,0,.1) 2px, rgba(0,0,0,0) 1px),
    -webkit-radial-gradient(28% 18%,circle,rgba(0,0,0,.1) 1px, rgba(0,0,0,0) 2px),
    -webkit-radial-gradient(40% 70%,circle,rgba(0,0,0,.1) 2px, rgba(0,0,0,0) 1px),
    linear-gradient(135deg,#FBF2E1 0%, #FBF2E1 100%); */
    /* 100% 100%, */
    /* background-size: 47px 53px,41px 33px,36px 12px,20px 36px,33px 42px,73px 95px,93px 75px,83px 45px,97px 95px,53px 65px,97px 95px,53px 130px,57px 67px,97px 99px,63px 110px,107px 150px,79px 170px,100% 100%; */
    
}  