section h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
}
section h2::after,section h2::before{
    content: "";
    width: 0.2em;
    height: 0.2em;
    margin: 0px 1em;
    border-radius: 300px;
    transition: flex-grow 2s ;
}
section:hover h2::after,section:hover h2::before{
    flex-grow: 1;
    transition: flex-grow 2s ;
}
section h2::before{
    background-image: linear-gradient( to left, #632E0Aee 70%,transparent );
}
section h2::after{
    background-image: linear-gradient( to right, #632E0Aee 70%,transparent );
}

section{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
}
section>h2{
    width: 100%;
    text-align: center;
    font-size: 21px;
    line-height: 4em;
    color:#632E0A;
}

.news{
    width: 100%;
}

.news .newsCell .pic img{
    width: 100%;
    aspect-ratio: 3/1;
    object-fit: cover;
    vertical-align: top;
}
.news .newsCell .pic{
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.news .newsCell .txt h3{
    box-sizing: border-box;
    padding: 10px 0px;
    font-size: 18px;
    text-align: center;
    
}
.news .newsCell .txt h3::after,.news .newsCell .txt h3::before{
    content: '';
    background-color: #000;
    border-radius: 50%;
    width: 0.3em;
    height: 0.3em;
    vertical-align: 0.2em;
    margin: 0px 1em;
    display: inline-block;
}
.news .newsCell .txt{
    /* display: none; */
    width: 100%;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    padding: 10px;
    
}
.news .newsCell .txt p{
    text-indent: 2em;
}
.news .newsCell{
    /* width: 100%; */
    border-radius: 10px ;
    overflow: hidden;
    height: auto;
    margin: 15px;
    overflow: hidden;
}
.news .newsCell .txt ul li:not(:first-child){
    margin-left: 2em;
    list-style: disc;
}
.news .newsCell .txt ul li h4::after{
    content: ':';
}
@media screen and (max-width:995px) {
        .news .newsCell{
            max-height: 50em;
            transition: max-height 1s 1s;
        }
        .news .newsCell.hide{
            max-height: 4em;
            position: relative;
            box-shadow: 1px 1px 5px 1px #888;
            transition: max-height 1s 0s;
        }
        .news .newsCell.hide h3{
            position: absolute;
            color: #eee;
            bottom:  0;
            left: 0;
        }
        .news .newsCell.hide::before{
            content: attr(data-note);
            position: absolute;
            color: #fff;
            line-height: 1.5em;
            text-indent: 1em;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #000a;
        }
        .news .newsCell.hide .txt h3::after,.news .newsCell.hide .txt h3::before{
            background-color: #eee;
        }
        .news .newsCell.hide::after{
            content: '';
            display: block;
            width: 0;
            height: 0;
            background-color: transparent;
            position: absolute;
            right: 10px;
            top: 50%;
            bottom: 0;
            margin: auto;
            border: 1em solid;
            border-color: #aaa transparent transparent transparent;
            animation: move 5s 1s infinite;
        }
        .smMenu{
            
            display: none;
        }
        @keyframes move {
            0%{
                top: 50%;
            }
            5%{
                top: 75%;
            }
            10%{
                top: 50%;
            }
            15%{
                top: 65%;
            }
            20%{
                top: 50%;
            }
            100%{
            }
        }
}
@media screen and ( min-width:996px ) {
    .smMenu{
        box-sizing: border-box;
        padding: 60px 20px 20px 20px;
        width: 20%;
        cursor: pointer;
        color:#632E0A;
        position: sticky;
        top: 3em;
        margin: 0px auto auto auto;
    }
    .smMenu>div{
        margin: 5px 0px;
        box-sizing: border-box;
        padding: 10px 15px;
        border-radius: 10px;
    }
    .smMenu>div:hover , .active{
        background-color: #632E0A;
        color: #FBF2E1 ;
    }
    .news{
        width: 80%;
    }
    .news .newsCell{
        padding: 10px;
    }
    .news .newsCell .txt{
        padding: 20px;
        box-sizing: border-box;
    }
    
    .news .newsCell:hover{
        background-color: #A13B9188;
        transition: all .5s;
    }
    .news .newsCell::before{
        width: 100%;
        display: inline-block;
        text-align: center;
        margin: auto;
        line-height: 2em;
        content: attr(data-note);
        color: #632E0Aaa;
    }
}

