.selectRoom .pic img{
    vertical-align: top;
    aspect-ratio: 2/1;
    object-fit: cover;
    width: 100%;
}
.selectRoom .pic {
    width:40%;
}
.selectRoom{
    display: flex;
    flex-wrap: wrap;
}
.selectDate {
    width: 30%;
    box-sizing: border-box; 
    /* padding: 20px 30px; */
    border-radius: 10px;
    margin: auto;
    background-color: #FBF2E1;     
    color: #3A3030;
}
.date{
    /* margin: auto; */
    /* width: 100%; */
}

.selectDate .date table{
    font-size: 0px;
}
table,thead,tbody,caption,tr{
    display: block;
    width: 100%;
}
.selectDate caption{
    font-size: 15px;
    /* line-height: 4em */
}

.selectDate .date table td{
    vertical-align: top;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 15px;
    aspect-ratio: 1/1;
    width: calc( 100% / 7 );
}
.selectDate .date table td span{
    width: 80%;
    height: 80%;
    display: flex;
    align-items:center;
    justify-content: center;
}
.leftBtn,.rightBtn{
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border: solid #000000c0;
    border-width: 3px 0px 0px 3px;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.leftBtn{
    transform: rotate(-45deg);
    left: 0;
    right: 50%;
    
}
.rightBtn{
    transform: rotate(135deg);
    right: 0;
    left: 50%;
}
caption{
    line-height: 4em;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.canAppointment:hover span {
    background-color: #F9BC20;
    border-radius: 50%;

}
.selectday span {
    background-color: #F9BC20;
    border-radius: 50%;
    position: relative;
    z-index: 5;
}
.selectRoom .btn{
    background-color: #F9BC20;
    border: none;
    font-size: 15px;
    box-sizing: border-box;
    display: block;
    margin: auto;
    padding: 0.5em 1.5em;
    color: #ffffff;
    text-shadow: 0px 0.5px 2px  #000a;
    box-shadow: 1px 1px 3px 1px #aaa;
}
.selectRoom .btn:active{
    box-shadow: none;
}