section{
    width: 100%;
    max-width: 1200px ;
    margin: auto;
}
section h2{
    display: flex;
    justify-content: center;
    font-size: 21px;
    line-height: 3em;
    align-items: center;
    padding: 0px 50px;
}
section h2::after,section h2::before{
    content: "";
    width: 0.2em;
    height: 0.2em;
    margin: 0px 1em;
    border-radius: 300px;
    transition: flex-grow 2s ;
}
section:hover h2::after,section:hover h2::before{
    flex-grow: 1;
    transition: flex-grow 2s ;
}
section h2::before{
    background-image: linear-gradient( to left, #632E0Aee 70%,transparent );
}
section h2::after{
    background-image: linear-gradient( to right, #632E0Aee 70%,transparent );
}

.selectRoom .pic img{
    vertical-align: top;
    aspect-ratio: 2/1;
    object-fit: cover;
    width: 100%;
}
.selectRoom .pic p{
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 2em;
    background-color: #222a;
    color: #eee;
    position: relative;
    margin-top: -2em;
}

@media screen and (max-width:767px) {
    
    .selectRoom .pic img{
        max-height: 200px;
        object-fit: cover;
        /* width: 100%; */
    }
    .selectRoom .pic{
        width: 100%;
    }
   
    .selectRoom .selectDate{
        width: 100%;
        padding: 10px 10%;
        margin: auto;
    }
   
    .selectRoom + .selectRoom{
        margin-top: 30px;
    }
}
@media screen and (min-width:768px) {
    article.selectRoom:hover{
        background-color: #A13B9188;
        transition: all 1s;
        border-radius: 10px;
    }
    .selectRoom .pic {
        width:40%;
        border-radius: 10px;
        overflow: hidden;
        align-self:center ;
    }
    article.selectRoom{
        /* align-items: center; */
        margin: 10px;
        padding: 50px 30px ;
        box-sizing:border-box;
    }
    .selectRoom a.btn{
        align-self:flex-end;
        margin: 0px auto;
    }
}

.selectRoom{
    display: flex;
    flex-wrap: wrap;
}
.selectDate {
    width: 30%;
    box-sizing: border-box; 
    /* padding: 20px 30px; */
    border-radius: 10px;
    margin: auto;
    /* background-color: #FBF2E1;      */
    color: #3A3030;
}
.date{
    /* margin: auto; */
    /* width: 100%; */
}

.selectDate .date table{
    font-size: 0px;
}
table,thead,tbody,caption,tr{
    display: block;
    width: 100%;
}
.selectDate caption{
    font-size: 15px;
    /* line-height: 4em */
}

.selectDate .date table td{
    vertical-align: top;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 15px;
    aspect-ratio: 1/1;
    width: calc( 100% / 7 );
}
.selectDate .date table td span{
    width: 80%;
    height: 80%;
    display: flex;
    align-items:center;
    justify-content: center;
}
.leftBtn,.rightBtn{
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border: solid #000000c0;
    border-width: 3px 0px 0px 3px;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.leftBtn{
    transform: rotate(-45deg);
    left: 0;
    right: 50%;
    
}
.rightBtn{
    transform: rotate(135deg);
    right: 0;
    left: 50%;
}
caption{
    line-height: 4em;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.canAppointment:hover span {
    background-color: #F9BC20;
    border-radius: 50%;

}
.selectday span {
    background-color: #F9BC20;
    border-radius: 50%;
    position: relative;
    z-index: 5;
}
.selectRoom .btn{
    background-color: #F9BC20;
    border: none;
    font-size: 15px;
    box-sizing: border-box;
    display: block;
    margin: auto;
    padding: 0.5em 1.5em;
    color: #ffffff;
    text-shadow: 0px 0.5px 2px  #000a;
    box-shadow: 1px 1px 3px 1px #aaa;
    border-radius: 10px;
}
.selectRoom .btn:active{
    box-shadow: none;
}