.contactUs{
    width: 1200px;
    margin: auto;
    padding: 60px 0px;
    color: #000000d0;
}
.contactUs>div{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.contactData{
    width: calc((100% / 6) * 2);
    box-sizing: border-box;
    padding: 10px;
}
.contactData img{
    width: 30px;
    vertical-align: middle;
}
.contactData{
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 2em;
}
.contactData{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
.contactData>div:last-child{
    align-self: flex-end;
}
.contactData>div:last-child a p {
    display: inline-block;
    vertical-align: middle;
}
.contactData{
    padding: 5px 0px;
}
.contactData>div:last-child a{
    display: block;
    color: #000000d0;
}
.contactBlock{
    width: calc((100% / 6) * 4);
    margin: auto;
    box-sizing: border-box;
    padding: 30px 60px;
    background-color: #fff2;
    box-shadow: 0px 0px 3px 0px #0005;
    /* border: 4px solid #0002; */
    border-radius: 10px;
}
.contactBlock label{
    display: flex;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
    line-height: 40px;
    
}
.contactBlock label input{
    /* width: 100%; */
    box-sizing: border-box;
    padding: 0px 20px ;
    flex-grow: 1;
    border: none;
    font-size:100%;
    margin-left: 30px;
    line-height: 100%;
    border-radius: 200px;
}
.contactBlock label textarea{
    box-sizing: border-box;
    padding: 5px 20px 0px 20px;
    /* text-indent: 2em; */
    flex-grow: 1;
    border: none;
    font-size:100%;
    margin-left: 30px;
    line-height: 25px;
    border-radius: 20px;
    resize:none
}
.contactBlock  label span{
    flex-shrink: 0;
}
.contactBlock  label input{
    font-size: 100%;
}
.contactBlock  label:nth-child(1) input{
    margin-left: calc(30px + 1em);
}
.contactBlock  label:nth-child(3) input{
    font-size: 100%;
    margin-left: calc(30px + 2em);
}
.btn{
    color: #000d;
    background-color: #FAF3B2;
    padding: 10px 20px;
    border-radius: 5px ;
    font-size: 100%;
    font-weight: bold;
    border:none;
    box-sizing: border-box;
    cursor:pointer;
}
.resetbtn{
    /* display: inline-block; */
    color: #000d;
    background-color: #6cbd9b;
    box-sizing: border-box;
    color: #ffff;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 5px ;
    font-size: 100%;
    border:none;
    margin-right: 20px;
    text-shadow: 0px 0px 1px #0008, 1px 1px 1px #333a ;
    cursor:pointer;
}
.contactBlock form div{
    text-align: right;
    padding: 20px 20px;
}
.contactUs h2{
    font-size: 21px;
    display: inline-block;
    box-sizing: border-box;
    color: #ffffffef;
    background-color: #6cbd9b;
    padding: 10px 20px;
    border-radius: 10px;
    text-shadow: 0px 0px 1px #0006;
}


/* ------------------------------ */
header li:nth-child(5) a{
    /* color: #000a; */
    background-color: #0005;
    text-shadow: none ;
    /* padding: 20px 15px; */
}