section{
    width: 1200px;
    box-sizing: border-box;
    margin: auto;
}
.determine{
    width: 1200px;
    margin: auto;
    /* padding: 60px 0px; */
    padding-bottom: 60px;
}
.determineRoom{
    width: 100%;
    display: flex;

}
.determineRoom>div{
    width: calc((100% / 6) * 2);
    box-sizing: border-box;
    padding: 30px;
    border-radius: 5px;
}

.determineRoom .txt {
    width: calc((100% / 6) * 2);
}
.determineRoom .txt,.money{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    flex-wrap: wrap;
}
.determineRoom .txt div,.money div {
    /* display: block; */
    padding: 15px;
    
}
.checkInData{
    width: calc((100% / 6) * 4);
    margin: auto;
    box-sizing: border-box;
    padding: 30px 60px;
    background-color: #fff2;
    box-shadow: 0px 0px 3px 0px #0005;
    /* border: 4px solid #0002; */
    border-radius: 10px;
    margin-top: 60px;
}
.checkInData label{
    display: flex;
    width: 100%;
    font-size: 18px;
    padding: 20px;
    box-sizing: border-box;
    line-height: 40px;
    
}
.checkInData label input{
    /* width: 100%; */
    box-sizing: border-box;
    padding: 0px 20px ;
    flex-grow: 1;
    border: none;
    font-size:100%;
    margin-left: 30px;
    line-height: 100%;
    border-radius: 200px;
}
.checkInData  label:nth-child(-n+3) input{
    font-size: 100%;
    margin-left: calc(30px + 2em);
}
.btn{
    color: #000d;
    background-color: #FAF3B2;
    padding: 10px 20px;
    border-radius: 5px ;
    font-size: 100%;
    box-sizing: border-box;
    font-weight: bold;
    border:none;
    cursor:pointer;
}
.resetbtn{
    /* display: inline-block; */
    color: #000d;
    background-color: #6cbd9b;
    color: #ffff;
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 5px ;
    font-size: 100%;
    /* font-size: 30px; */
    /* font-weight: bold; */
    border:none;
    margin-right: 20px;
    text-shadow: 0px 0px 1px #0008, 1px 1px 1px #333a ;
    /* letter-spacing: 0.1em; */
    cursor:pointer;
}
.checkInData form div{
    text-align: right;
    padding: 20px 20px;
    
}

.determineRoom .pic{
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.determineRoom .pic img{
    width: 100%;
    vertical-align: top;
    /* object-fit: fill; */
   
}
.determineRoom .pic::after{
    content: '';
    width: 100%;
    height: 3em;
    position: absolute;
    bottom: 0;
    background: linear-gradient(transparent ,#000a 90% );
    display: block;
}
.determineRoom .txt >div{
    cursor:pointer;
}
/* textarea{
    margin-left: calc(60px + 4em);
    font-size: 18px;
    border: none;
} */
/* font-family: "Noto Sans CJK TC", "Microsoft JhengHei", PingFang,PingFang, STHeiti, sans-serif, serif; */




/* 
.selectroom{
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}
.selectroom>div{
    width: calc(100% / 4);
    box-sizing: border-box;
}
.selectroom img{
    width: 100%;
    vertical-align: top;
    object-fit: cover;
    height: 100%;
    object-fit:fill;
}
.selectroom .pic{
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 5px 0px #0008;
}

.selectroom .pic p{
  width: 100%;
  position: absolute;
  margin-top: -2em ;
  color: #ffffffef;
  text-align: center;
  background-color: #00000088;
  line-height: 2em;
  
} */